@model ProjetoApi.Models.Animais

@{
    ViewData["Title"] = "Excluir Animal";
}

<h1 class="page-title">@ViewData["Title"]</h1>

<h3 class="page-subtitle">Você tem certeza que quer excluir esse animal?</h3>

<div class="details-container">
    <dl class="row">
        <dt class="col-sm-3">Nome do Animal</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.AnimalNome)</dd>

        <dt class="col-sm-3">Raça</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.AnimalRaca)</dd>

        <dt class="col-sm-3">Tipo</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.AnimalTipo)</dd>

        <dt class="col-sm-3">Cor</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.AnimalCor)</dd>

        <dt class="col-sm-3">Sexo</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.AnimalSexo)</dd>

        <dt class="col-sm-3">Foto (URL)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.AnimalFoto)</dd>

        <dt class="col-sm-3">Data de Desaparecimento</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.AnimalDtDesaparecimento)</dd>

        <dt class="col-sm-3">Data de Encontro</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.AnimalDtEncontro)</dd>

        <dt class="col-sm-3">Status</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.AnimalStatus)</dd>

        <dt class="col-sm-3">Usuário</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Usuario.UsuarioNome)</dd>
    </dl>
    <div class="text-center">
        <form asp-action="Delete" class="form-group">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Deletar</button>
            <a asp-action="Index" class="btn btn-secondary">Voltar para a lista</a>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    .page-title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 2em;
        color: #dc3545;
    }

    .page-subtitle {
        text-align: center;
        margin-bottom: 30px;
        font-size: 1.5em;
        color: #555;
    }
    .details-container {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: auto;
        width: 60%;
    }

    .row dt {
        font-weight: bold;
        color: #333;
    }

    .row dd {
        margin-left: 0;
    }

    .btn {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin: 5px;
    }

    .btn-danger {
        width:100%;
        background-color: #dc3545;
        color: #fff;
    }

        .btn-danger:hover {
            background-color: #c82333;
        }

    .btn-secondary {
        width:100%;
        background-color: #6c757d;
        color: #fff;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
        }

    .text-center {
        text-align: center;
        margin-top: 20px;
    }
</style>
